.services-page {
  padding: 60px 80px;
  background: #f8f8f8;
}

.services-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
  color: #6C63FF;
}

/* grid */
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* card */
.service-card {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  text-align: center;
  transition: 0.3s ease;
}
.service-card img {
  width: 100%;
  height: 130px;     /* reduce height */
  object-fit: contain;   /* keeps full image without cropping */
  border-radius: 8px;
  margin-bottom: 15px;
}


.service-card h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #6C63FF;
}

.service-card p {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
}

/* animations */
.slide-up {
  opacity: 0;
  transform: translateY(20px);
  animation: slideUpAnim 0.9s ease forwards;
}

@keyframes slideUpAnim {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hover-grow:hover {
  transform: translateY(-5px);
}

/* mobile */
@media (max-width: 900px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
}
